@import 'https://unpkg.com/open-props/easings.min.css';

.theme-toggle {
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
  @apply h-12 w-12 touch-manipulation rounded-full transition-colors duration-300 hover:text-stone-700 dark:text-white dark:hover:text-white/70;

  /* make button bigger for touchscreens */
  @media (hover: none) {
    @apply h-28 w-28;
  }

  > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}

.sun-and-moon {
  :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }
  .sun {
    transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
  }
  .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }
  .moon {
    /* circle {
      transform: translateX(-17px);
      transition: transform 0.25s var(--ease-out-5);

      @supports (cx: 1px) {
        transform: translateX(0);
        cx: 17px;
        transition: cx 0.25s var(--ease-out-5);
      }
    } */
  }

  [data-theme='dark'] & {
    .sun {
      transform: scale(1.75);
      transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
      transition-duration: 0.25s;
    }
    .sun-beams {
      transform: rotateZ(-45deg) scale(0);
      transition-duration: 0.15s;
    }
    .moon {
      circle {
        transform: translateX(-27px);
        transition: transform 2.25s var(--ease-out-5);

        @supports (cx: 1px) {
          transform: translateX(0);
          cx: 16px;
          transition: cx 0.75s var(--ease-out-5);
          transition-delay: 0.25s;
        }
        transition-delay: 0.25s;
        transition-duration: 0.75s;
      }
    }
  }
}
