.theme-toggle {
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
  @apply h-12 w-12 touch-manipulation rounded-full transition-colors duration-300 hover:text-stone-700 dark:text-white dark:hover:text-white/70;

  /* make button bigger for touchscreens */
  @media (hover: none) {
    @apply h-28 w-28;
  }

  > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}

.sun-and-moon {
  :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
    @apply transition-all duration-500;
  }
  :is(.moon, .sun) {
  }

  [data-theme='dark'] & {
    .sun {
      transform: scale(1.75);
    }
    .sun-beams {
      transform: rotate(-45deg) scale(0);
    }
    .moon {
      circle {
        transform: translateX(-8px);
        @supports (cx: 1px) {
          transform: translateX(0);
          cx: 16px;
        }
      }
    }
  }
}
